# Ignore node_modules directory
node_modules/
client/node_modules/
server/node_modules/


# Ignore build output
build/

# Ignore environment-specific files
.env

# Ignore editor and IDE files
.vscode/
.idea/

# Ignore log files
*.log
